 {
  "plugins": ["@typescript-eslint", "prettier"],
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "auto",

  "singleQuote": true, 
  "jsxSingleQuote": true,
  "quoteProps": "as-needed", 
  "jsxBracketSameLine": false,

  "trailingComma": "all", 
  "bracketSpacing": true,
  "arrowParens": "avoid", 
  "htmlWhitespaceSensitivity": "css",

  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true
}
