* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-width: 850px;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-display: swap;
}
#header {
  position: relative;
  height: 86px;
  min-width: 600px;
  max-width: 1900px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding: 0 20px;
}
#header-inner {
  display: flex;
  height: 86px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}
#body {
  font-size: 12px;
  line-height: 1.6;
  border-bottom: 1px solid #eee;
  height: 100%;

  max-width: 1900px;
  margin: 0 auto;

  padding-bottom: 300px;
  min-height: calc(100vh - 300px);
  overflow-x: hidden;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  height: 100%;
}
.category {
  font-size: 1.75rem;
  font-weight: 500;
  padding: 10px 0;
}
.category > div {
  padding: 1rem 1rem;
}
.category-dropdown {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 1;
  background-color: white;
  border-top: 1px solid #e5e7eb;
}
.category-dropdown > ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2.3rem;
}
.category-dropdown > ul > li {
  margin-bottom: 1.25rem;
}
.site-logo {
  width: 208px;
  height: 52px;
  position: relative;
  left: 15px;
  background-image: url(/img/icons/logo.png);
  background-position: 50% 50%;
  background-size: 100%;
}
.nav-service {
  margin-left: 60px;
  display: flex;
}
.nav-service > a {
  margin-right: 16px;
}
.btn-cart {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(/img/icons/shopping-cart.png);
  background-position: 50%;
  background-size: 28px 28px;
  text-indent: -999px;
  overflow: hidden;
}
.btn-mypage {
  width: 48px;
  height: 48px;
  background-image: url(/img/icons/user.png);
  background-position: 50%;
  background-size: 28px 28px;
  text-indent: -999px;
  overflow: hidden;
  background-repeat: no-repeat;
  display: block;
  position: relative;
}
#banner {
  margin: 0 auto;
}

.footer {
  font-size: 13px;
  height: 300px;
  min-width: 800px;
}
.foot-cont-company {
  width: 540px;
  padding: 40px;
  margin: 0 auto;
}
em {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}
.foot-cont-company > p {
  line-height: 2;
}
.tPad {
  padding-top: 15px;
}
.footer > .logo {
  background: url(https://fiximage.10x10.co.kr/web2020/common/logo_tenbyten.png)
    0 0 no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 140px;
  height: 27px;
  text-indent: -999em;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
h3 {
  font: inherit;
}
.text-sm {
  font-size: 0.8em;
  line-height: 1.25rem;
  color: #888585;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1.75rem;
}
.mb-5 {
  margin-bottom: 3rem;
}

@media (hover: hover) and (pointer: corase) {
  .category:hover .category-dropdown {
    display: block;
  }
}
@media screen and (max-width: 1600px) {
  #banner {
    width: 1600px;
  }
  .slick-track .slick-slide {
    width: 1600px;
  }

  .slick-slide img {
    width: 1600px;
  }
}
@media screen and (max-width: 1400px) {
  #banner {
    width: 1400px;
  }
  .slick-track .slick-slide {
    width: 1400px;
  }

  .slick-slide img {
    width: 1400px;
    height: 375px;
  }
}
@media screen and (max-width: 1200px) {
  #banner {
    width: 100%;
  }
  .slick-track .slick-slide {
    width: 1200px;
  }

  .slick-slide img {
    width: 1200px;
  }
}

@media screen and (max-width: 750px) {
  #banner {
    width: 100%;
  }
  .slick-track .slick-slide {
    width: 1000px;
  }

  .slick-slide img {
    width: 100%;
  }
  .footer {
    font-size: 17px;
    margin: 0 auto;
  }
  em {
    font-size: 24px;
  }

  .container {
    /* width: 840px; */
    margin: 0 auto;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 360px) {
  #banner {
    width: 100%;
  }
  .slick-track .slick-slide {
    width: 1000px;
  }
  .btn-cart,
  .btn-mypage {
    width: 48px;
    height: 48px;
    background-size: 35px 35px;
  }
}
